{% extends './layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/error_pages.css')}}">
{% endblock %}

{% block content %}
<div class="error-404">


    <div class="container">
        <div class="ghost">👻</div>
        <h1>404 - Not Found!</h1>
        <p>Esta página espeluznante parece haberse esfumad. ¡No te preocupes, hay muchas más sorpresas de Halloween esperándote!</p>
        <br>
        <a href="/" class="action-button">Volver a inicio <span class="button-symbol">🏰</span></a>
    </div>
</div>
{% endblock %}