{% extends './layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/recetas.css')}}">
        
{% endblock %}

{% block volver_button %}
    <a href="/" class="volver-button">Volver </a>

{% endblock %}

{% block title %}Boo-Juice Recetas para Helloween: Perfil de Usuario{% endblock %}

{% block content %}
<div class="page-description-title">
    <h1 class="page__title">Tu Perfil</h1>
    <p class="description">Aquí puedes ver tus recetas favoritas y editar las recetas compartidas.</p>
</div>
    {% if shared %}

    <h2 class="medium-title">Recetas Compartidas</h2>
    <section class="grid">
        
        {% for item in shared %}

        <a class="cell" id="{{ 'receta_id_' + item.id|string }}" href="{{ url_for('recepy_page.edit_receta', id=item.id) }}">
            <div class="img-box">
                <img
                    src="{{ item.portada or [
                        url_for('static', filename='assets/images/shopping.jpg'),
                        url_for('static', filename='assets/images/pattern2.jpg'),
                        url_for('static', filename='assets/images/pattern3.jpg'),
                        url_for('static', filename='assets/images/pattern_boo_1.jpg'),
                        url_for('static', filename='assets/images/iconPimpkinIdea.jpg')
                    ] | random }}"
                    alt="{{ item.nombre_receta }}"
                    >

            </div>
            <div class="title-box">
                <h2>{{ item.nombre_receta }}</h2>
            </div>

        </a>

        {% endfor %}


    </section>
    
    {% else %}
    <div class="perfil-empty">
        <h2 class="small-title">No hay recetas compartidas</h2>
        
        <a href="/nuevareceta" class="volver-button">Compartir la receta</a>
    </div>


    {% endif %}

    {% if liked %}
    <h2 class="medium-title">Recetas Favoritas</h2>
    <section class="grid">
        
        {% for item in liked %}

        <a class="cell" href="{{ url_for('recepy_page.receta', id=item.id) }}">
            <div class="img-box">
                <img
                    src="{{ item.portada or [
                        url_for('static', filename='assets/images/shopping.jpg'),
                        url_for('static', filename='assets/images/pattern2.jpg'),
                        url_for('static', filename='assets/images/pattern3.jpg'),
                        url_for('static', filename='assets/images/pattern_boo_1.jpg'),
                        url_for('static', filename='assets/images/iconPimpkinIdea.jpg')
                    ] | random }}"
                    alt="{{ item.nombre_receta }}"
                    >

            </div>
            <div class="title-box">
                <h2>{{ item.nombre_receta }}</h2>
            </div>

        </a>

        {% endfor %}


    </section>

    {% else %}
    <div class="perfil-empty">
        <h2 class="small-title">No hay recetas favoritas</h2>
        <a href="{{ url_for('recepy_page.show_all_heloween_recepies') }}" class="volver-button">Ver todas las recetas</a>
    </div>


    {% endif %}




{% endblock %}
